

<h1>Rxjs Observables </h1>

<form [formGroup]="form" (ngSubmit)="submitForm()">

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Tile</mat-label>
            <input matInput type="tile" formControlName="title">
        </mat-form-field>
    </div>   
    
</form>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Tile</mat-label>
        <input matInput type="text" (keyup)="serach2($event)" >
    </mat-form-field>
</div>   

<ul id="ui">
    <li *ngFor="let post of posts ">{{ post.title }}</li>
</ul>