<div style="margin-top:20px ;">
    <mat-card class="example-card">
        <mat-card-content>


            <h4>
                <ng-content select=".setUp">

                </ng-content>
            </h4>
            <h1>
                <ng-content select=".puchline">

                </ng-content>
            </h1>

            <div>
                <button mat-raised-button color="primary" (click)="toogleData()" class="btn"> Tell me </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>